@model string
<div class="row special-style">
    <div class="col 12">
        <div class="card-panel grey darken-4">
            <h2 class="center white-text text-darken-4 flow-text">@Model</h2>
        </div>
    </div>
</div>