@using Answery.Web.ViewModels.Question
@model Answery.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Unanswered questions | Answery";
}

@if (!Request.IsAuthenticated)
{

    <div class="row special-style">
        <div class="col s12 m7">
            <div class="card-panel grey darken-4">
                <h1 class="center white-text text-darken-4 thin">WELCOME TO ANSWERY!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s5 offset-s7">
            <div class="card-panel">
                <h4 class="center blue-text text-darken-2 flow-text">Having questions for your friends that you cannot ask them in person?</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s5 offset-s1">
            <div class="card-panel grey darken-4">
                <h2 class="center white-text text-darken-4 flow-text">Not an issue anymore!</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s5 offset-s6">
            <div class="card-panel">
                <h2 class="center blue-text text-darken-2 flow-text">Have your privacy. And answers.</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel grey darken-4">
                <h2 class="center white-text text-darken-4 thin ">@Html.ActionLink("REGISTER NOW", "Register", "Account") </h2>
            </div>
        </div>
    </div>
}
else
{
    <div class="row special-style">
        <div class="col 12">
            <div class="card-panel grey darken-4">
                <h2 class="center white-text text-darken-4 flow-text">Answered Questions</h2>
            </div>
        </div>
    </div>
    @Html.Partial("QuestionsPartial", @Model.Questions);
}