@model IEnumerable<Answery.Data.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model.Any())
{
    foreach (var blogArticle in Model)
    {

        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card light-blue">
                    <div class="card-content white-text">
                        <span class="card-title">@blogArticle.Title</span>
                        <p>@blogArticle.Content</p>
                    </div>
                </div>
            </div>
        </div>
    }
}
